body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.diet-section-1 h1 {
  font-size: 70px;
  text-align: center;
  padding-right: 120px;
  padding-left: 150px;
  margin-left: 300px;
  margin-top: -430px;
  margin-bottom: 250px;
  font-weight: 900;
  text-shadow: #DBFFD6 5px 2px 4px;
  background-color: rgb(255, 255, 255, 0.6);
  width: 50%;
  height: 300px;
  position: absolute;


}

.diet-section-1 img {
  width: 100%;
  height: 650px;
  background-size: cover;
  z-index: -1;
}

.diet-section-2 {
  background-color: rgb(235, 232, 225);
  margin-top: -50px;
  padding-bottom: 30px;
}




.diet-section-2 h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 60px;
}

.new {
  position: relative;
  width: 80%;
}

.image1 {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #DBFFD6;
}

.new:hover .overlay {
  opacity: 0.8;
}


.text {
  color: black;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.listt li:hover{
  color: red;
  
  
}

.listt{
  list-style-type: disc;
  text-align: left;
}

.listt2 li:hover{
  color: red;
  
  
  
}
.listt2{
  list-style-type: none;
  text-align: left;
}



.imgt{
  margin: 20px;

}

.imgt:hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}