.section-0{
    
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .header nav{
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    align-items: center;
    padding-bottom: 50px;
    margin-top: -29px;
    padding-top: -30px;
  }
  .navbar{
    float: inline-end;
    padding: 20px;
    font-size: 30px;
    padding-bottom: 20px;
    
  }
        .navbar .nav-login{
    color: #f5ebeb;
    padding: 20px 30px;
    background-color: rgba(255, 0, 0, 0.9);
    border-radius: 30px 0px 30px 0px;
    transition: transform 0.3s ease-in-out;
    border: none;
  }
  .navbar .nav-login:hover{
    background-color: rgba(196, 59, 17);
    color: black;
    transform: scale(1.5);
  }
  
  .navbar a{
    padding: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
  
  }
  .images img{
    width: 120px;
    float: inline-start;
    padding: 10px 10px 10px 10px;
    margin-top: -67px;
  }
  
 form{
    background-color: (rgba(158, 73, 73, 0.8));
    width:95%;
    margin:50px auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(54, 56, 192, 0.2);
  }
  
  .new {
  position: relative;
  width: 70%;
  }
  .image1 {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#DBFFD6;
  }
  .new:hover .overlay {
    opacity:0.8;
  }
  
  
  .text {
    color:black;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }