
      body{
        font-family: sans-serif;
        margin: 0;
        padding: 0;
      }
      .login-container{
        display: flex;
        align-items: center;
        justify-content: center;       
        margin-top: 0;
        box-shadow: 1px 3px 12px rgb(56, 56, 56);
        width: 1000px;
        border-radius:16px ;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;

      }
      .pic-container{
        background-color: rgb(234, 234, 234);
        height: 600px;
        width:400px;
        border-top-left-radius: 16px; 
        border-bottom-left-radius:16px ;
        
      } 
      .form-container{
        background-color: rgb(255, 255, 255);  
        height: 600px;
        width:600px;
        border-top-right-radius: 16px;
        border-bottom-right-radius:16px ;
        
      }
      .form-head{
        text-align: center;
        margin-top: 60PX;
        margin-bottom: 30px;
      }
      .form-head h1{
        color: #FF6600;
        font-size:35px ;
      }
      .login-form input[type="text"]{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 80%;
        height: 40px;
        border-radius: 10px;
        border-style: solid ;
        border: solid 1px #e35b00;
        outline-color: #FF6600;
        font-size: 18px;
   

      }
      .login-form input[type="text"]::placeholder{
        padding-left: 10px;
        font-size: 14px;
      }
      .login-form input[type="password"]{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 80%;
        height: 40px;
        border-radius: 10px;
        border-style: solid ;
        border: solid 1px #e35b00;
        outline-color: #FF6600;
        font-size: 18px;
   

      }
      .login-form input[type="password"]::placeholder{
        padding-left: 10px;
        font-size: 14px;
      }




      .login-form input[type="submit"]{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 80%;
        height: 40px;
        margin-top: 25px;
        border-radius: 10px;
        border: 0;
       background-color: #292929;
       color: white;
       font-size: 18px;
       transition: background-color  0.4s;
       cursor: pointer;
      }
      .login-form input[type="submit"]:hover{
        background-color: #FF6600;
      }
      .login-form input[type="submit"]:active{
        scale: 1.01;

      }
      label{
      margin-left: 58px;
        color: #292929;
        font-size: 26px;
      }
      .sign-up-part{
        text-align: center;

      }
      .sign{
        color: #FF6600;
        text-decoration: none;
        font-size: 17px;
      }
      .back-image{
        height: 600px;
         width: 400px;
         border-top-left-radius: 16px;
         border-bottom-left-radius: 16px;
      }
      .web-Logo{
        margin-left: 65px;
        margin-top: 120px;
        height: 270px;
        height: 270px ;
        position:absolute ;
      }
