*{padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

.section-0{
  background-image: url(../Images/Home-page-header-background.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  
}

.header nav{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: aqua;
  padding:30px 5%;
  align-items: center; 
}
.image img{
  width: 150px;
  height: 150px;
  margin-top: -80px;
  margin-left: 70px;

}
.header nav a{
  margin-top: 10px;
  padding: 10px ;
  margin: 0 20px;
  text-decoration: none;
  color: white;
  font-size: 17px; 
}


footer{
  bottom: auto;
  position: relative;
  width: 100%;

}
footer .footer-first-part{
  background-color: rgba(11, 107, 197, 0.8);
  padding: 80px 20px;  
  color: white;
  font-weight: bold;
}
footer .footer-first-part p{
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 20px;
  margin-top: 0;
}
footer .footer-second-part{
  text-align: center;
  background-color: rgba(7, 7, 206, 0.8);
  padding: 3px;
  color: white;
  font-weight: bold;
  
}

footer .footer-second-part a{
  text-decoration: none;
  color: white;
  padding: 20px;
}
.footer-second-part a:hover{
  text-decoration: underline;
}

