*{padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}
.section-0{
  background-image: url(../Images/Home-page-header-background.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  
}

.header nav{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-color: aqua;
  padding:30px 5%;
  align-items: center; 
}
.image img{
  width: 150px;
  height: 150px;
  margin-top: -80px;
  margin-left: 70px;

}
.header nav a{
  margin-top: 10px;
  padding: 10px ;
  margin: 0 20px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 20px; 
}




footer{
  background-color: orange;
  bottom: auto;
  position: relative;
  width: 100%;
}
.footer-img img{

  width: 200px;
}
.footer-flexbox{
  display: flex;
  gap: 20px;
  
}
.footerlink a{
  text-decoration: none;
  padding: 40px 20px;
  font-size: 20px;

}
.footerlink{
  margin-top: auto;
  margin-bottom: auto;
}
.footer-social-line-1{
  padding: 10px;
  margin-left: 1200px;
  margin-top: -160px;
}
.footer-social-line-1 img{
  width: 30px;
  padding: 10px;
  
}
.h1{
  width: 50%;
  margin-left: 20%;
  border: 2px solid white;
  
}
footer .footer-second-part{
  text-align: center;
  background-color: rgba(7, 7, 206, 0.8);
  padding: 20px;
  color: white;
  font-weight: bold;
  
}

footer .footer-second-part a{
  text-decoration: none;
  color: white;
  padding: 40px 20px;
}
footer .footer-second-part p{
  padding: 10px;
}
.footer-second-part a:hover{
  text-decoration: underline;
}

